<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryDisplayMode</key>
	<string>5,1</string>
	<key>BatteryHideUPSFromMenubar</key>
	<integer>1</integer>
	<key>CPUDisplayMode</key>
	<string>100,0</string>
	<key>CPUGraphsShowBreakdown</key>
	<integer>1</integer>
	<key>CPUGroupItems</key>
	<integer>1</integer>
	<key>CPUUseCustomGraphColors</key>
	<integer>1</integer>
	<key>ClockDisplayMode</key>
	<array>
		<string>' '</string>
		<string>EE</string>
		<string>' '</string>
		<string>hh</string>
		<string>':'</string>
		<string>mm</string>
		<string>':'</string>
		<string>ss</string>
	</array>
	<key>DisksMenubar</key>
	<array>
		<string>E4AC6565-7E02-3101-8D7C-7E371C46CA6B</string>
	</array>
	<key>FanSpeedSets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>4049</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>3749</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>ED24769D-B4D2-4E62-881D-150206BFE14C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>5939</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>5498</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>E17B4711-A96D-4AF0-A7BE-662C4212E9BF</string>
		</dict>
	</array>
	<key>NetworkDisplayMode</key>
	<string>1</string>
	<key>NetworkPrimaryInterface</key>
	<string>PRIMARY</string>
	<key>NetworkUseCustomGraphColors</key>
	<integer>1</integer>
	<key>SensorsDisplayMode</key>
	<string>0</string>
	<key>SensorsMenubar</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>SkinType</key>
	<integer>1</integer>
	<key>TempType</key>
	<integer>0</integer>
	<key>TimerFrequency</key>
	<integer>1</integer>
	<key>_mac_id</key>
	<string>e6910c7d3c007354118f294030c68230</string>
	<key>cities</key>
	<array>
		<integer>1221</integer>
		<integer>1380</integer>
		<integer>1395</integer>
	</array>
	<key>migratedExtras4.0</key>
	<true/>
	<key>sendDiagnostics</key>
	<true/>
	<key>skinColor</key>
	<integer>0</integer>
</dict>
</plist>
